// Colors
$primary-color: #39CDCC;
$text-color: #545F7D;
$text-light-color: #c9cbd1;
$heading-color: #213F7D;
$light-heading-color: #778ab1;
$input-border-color: #545F7D26;
$light-gray: #f7f6f6;
$danger-red: #E4033B;
$white: #fff;

// Typography
$font-size-base: 14px;
$font-size-md: 16px;
$font-size-lg: 24px;
$font-size-h1: 40px;
$font-size-small: 12px;

// Spacing
$spacing-xs: 6px;
$spacing-base: 8px;
$spacing-sm: 10px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;
$spacing-4xl: 120px;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;

// Input
$input-height: 50px;
$input-search-height: 40px;
$input-padding: 0 $spacing-base;
$border-radius: 5px;
$border-search-radius: 8px;